TELEGRAM_BOT_TOKEN="6539181911:AAF4QimVQbUOu5OvOxiHa4tPbLAqstrfMYk"

# pgAdmin 4
DATABASE_URL="postgresql://postgres:8225991@localhost:5432/telegram-bot-game?schema=public"

# База Данных
# MONGO_DB_URI = mongodb://127.0.0.1:27017/online-cinem-test
MONGO_DB_URI = 'mongodb://127.0.0.1:27017/local'

NGROK_URL='https://d409-176-213-208-91.ngrok-free.app'
 